<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug"  additivity="false">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="jaicore.graphvisualizer.events" level="warn" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="jaicore.search.algorithms.standard" level="warn" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="jaicore" level="warn" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <!--<Logger name="hasco.core.isRefinementCompletedPredicate" level="warn" additivity="false">-->
            <!--<appender-ref ref="Console"/>-->
        <!--</Logger>-->
        <Logger name="hasco.core.HASCO" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>